@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  min-height: 130vh;
  background: #343F4F;
  margin: 20px;
  position: relative;
}

.container{
    margin: 30px;
    position: absolute;
    bottom: 620px;
    left: -30px;
    display: inline;
}


.auto-type{
    color: #FC6D6D;
  
}

.heeed{
    position: relative;
    bottom: 10px;
}

.heeed h1{
    font-size: 50px;
    
}

.loveyou{
    position: absolute;
    bottom: 180px;
    margin-bottom: 20px;
}

@media only screen and (min-width:200px) and ( max-width: 380px) {

    .container{

        bottom: 220px;
    }

    .loveyou{
        bottom: -240px;
    }


}

@media only screen and (min-width:381px) and ( max-width: 415px) {

    .container{
        bottom: -920px;
    }

}



@media only screen and (min-height:690px) and ( max-height: 902px) {

    .container{

        bottom:390px;
    }

    .loveyou{
        bottom: -20px;
    }


}